@using DressStore.Models.ViewModels
@model DressStore.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<form class="form-inline">
    <label>Choose in company:</label>
    <select name="companyId" class="form-control">
        @foreach (CompanyModel comp in Model.Companies)
        {
            <option value="@comp.Id">@comp.Name</option>
        }
    </select>
    <input type="submit"/>
    <br/>
    <table class="table">
        @foreach(Dress d in Model.Dresses)
        {
            <tr>
                <td>@d.Name</td>
                <td>@d.Company?.Name</td>
                <td>@d.Price</td>
            </tr>
        }
    </table>
</form>